@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
 font-family: 'Quicksand', sans-serif;
    overflow-x: hidden ;
    font-size: 16px;
  }
  @media screen and (min-width:2200px) {
    body{
      font-size: 32px;
    }
  }
}
